{% load static %}

<!DOCTYPE html>
<html lang="en">
<style>
  body {
  background-color: lightblue;
}

</style>
	<head>
  		<title>Delete</title>
	</head>
	<body>
		<main>
            <div class="main">
              <!-- Create a Form -->
              <form method="POST">
                  <!-- Security token by Django -->
                  {% csrf_token %}
                  Do you want to delete this magazine from magazine list?
                  <input type="submit" value="Yes"></input>
                  <a href="{% url 'magazinelist' %}">Cancel</a>
              </form>
          </div>
        </main>
	</body>
</html>
