{% load static %}

<!DOCTYPE html>
<html lang="en">
    <style>
        body {
        background-color: lightblue;
      }
      </style>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>magazine detail</title>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
  <header>
    <nav>

          <a href="{% url 'magazinelist' %}">magazinelist</a> <a href="{% url 'admin:index' %}">Admin</a> 

    </nav>
  </header>
  <main>
    <h1>Detail about: {{magazine.title}}</h1>
      <div class="book=card">
        <p>Magzaine name: {{magazine.title}}</p>
        <p> release cycle :{{magazine.release_cycle}}</p>
        <p>Dscription of magazine: {{magazine.description}}</p>
        <img src = {{magazine.magazine_cover_URL}} width="150" height="200"></img>
        <h3>Issue Tittles</h3>
        {% for issue in magazine.issues.all %}
          <p>{{ issue.title }}</p>
          {% endfor %}
      </div>
      <a href="{% url 'editmagazine' magazine.pk %}"><button>Edit this Magazine</button></a>
      <a href="{% url 'deletemagazine' magazine.pk %}"><button>Delete this Magazine</button></a>
  </main>

</body>

</html>
