{% load static %}

<!DOCTYPE html>
<html lang="en">
    <style>
        body {
        background-color: lightblue;
      }
      </style>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Genres List</title>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
    <main>
            <h1>Genre Types</h1>
              {% for genre in genres %}
              <a href={% url 'showgenre' genre.pk %}>{{genre.type}}</a>
              <p> </p>
              {% endfor %}
            
      
      </main>
</body>

</html>
