<!DOCTYPE html>
<html lang="en">
  <style>
    body {
    background-color: lightblue;
  }
  </style>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>genre</title>
</head>

<body>
  <header>
      <nav>
        <a href="{% url 'admin:index' %}">Admin</a> <a href="{% url 'create_magazine' %}">New Magazine </a><a href="{% url 'genres_list' %}">genres_list </a>
      </nav>
        
  </header>
  <main>
    <h1> Magazines </h1>
    {%for magazine in genre.magazines.all%}
    <p>{{magazine.title}}</p>
    <p> </p>
    {% endfor %}
  </main>
</body>

</html>