<!DOCTYPE html>
<html lang="en">
  <style>
    body {
    background-color: lightblue;
  }
  </style>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>magazine list</title>
</head>

<body>
  <header>
      <nav>
        <a href="{% url 'admin:index' %}">Admin</a> <a href="{% url 'create_magazine' %}">New Magazine </a><a href="{% url 'genres_list' %}">genres_list </a><a href="{% url 'booklist' %}">Book List</a><a href="{% url 'logout' %}"><button>Logout</button></a> 
      </nav>
        
  </header>
  <main>
    <h1> Magazine list: </h1>
    {%for magazine in magazines%}
      <div class = "magazine-card">
    
        <a href={% url 'showmagazine' magazine.pk %}>{{magazine.title}}</a>
        <p> release cycle :{{magazine.release_cycle}}</p>
        <p>Dscription of magazine: {{magazine.description}}</p>
        <img src = {{magazine.magazine_cover_URL}} width="150" height="200"></img>
        <p>   </p>
       
      </div>
    {% endfor %}
  </main>
</body>

</html>