{% load static %}

<!DOCTYPE html>
<html lang="en">
<style>
  body {
  background-color: lightblue;
}
</style>
	<head>
  		<title>Update</title>
	</head>
	<body>
		<main>
			<h1> Update Magazine to Magazine List</h1>
    		<form method="post">
				{% csrf_token %}
				{{ form.as_p }}
				<div class="control">
		  			<button>Update</button>
                    
				</div>
	  		</form>
  		</main>
	</body>
</html>


