{%extends '../base.html'%}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<style>
  body {
  background-color: lightblue;
}
</style>
	<head>
  		<title>Create New Book</title>
	</head>
{% block content %}
	<body>
		<main>
			<div class="main">
			  <h1>Create a book</h1>
				<!-- Create a Form -->
			  <form method="POST">
					<!-- Security token by Django -->
					{% csrf_token %}
					<!-- form as paragraph -->
					{{ form.as_p }}
					<input type="submit" value="Create">

				</form>
			</div>
		  </main>
	</body>
{% endblock %}
</html>


