{% load static %}

<!DOCTYPE html>
<html lang="en">
    <style>
        body {
        background-color: lightblue;
      }
      </style>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>book detail</title>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
  <header>
    <nav>

          <a href="{% url 'booklist' %}">Home</a> <a href="{% url 'admin:index' %}">Admin</a> <a href="{% url 'create_book' %}">New Book</a>

    </nav>
  </header>
  <main>
    <h1>Detail about: {{book.title}}</h1>
      <div class="book=card">
        <div class="book-card">
          <p>{{ book.title }}</p>

          {% for author in book.authors.all %}
          <p>Author: {{ author.name }}</p>
          {% endfor %}
          <p>Number of page: {{ book.pages }}</p>
          <p>Book ISBN:{{ book.ISBN }}</p>
          <p>{{ book.description }}</p>
          <img src = {{book.book_cover_URL}} width="150" height="200"></img>
          {% for review in book.reviews.all %}
          <p>Review: {{ review.text }}</p>
          {% endfor %}
        </div>
        <a href="{% url 'editbook' book.pk %}"><button>Edit this book</button></a>
        <a href="{% url 'deletebook' book.pk %}"><button>Delete this book</button></a>
  
  </main>

</body>

</html>
