{%extends '../base.html'%}
<!DOCTYPE html>
<html lang="en">
  <style>
    body {
    background-color: lightblue;
  }
  </style>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>reviewslist</title>
</head>
{% block content %}
<body>
  <header>
      <nav>
        <a href="{% url 'admin:index' %}">Admin</a> <a href="{% url 'create_book' %}">New Book </a><a href="{% url 'logout' %}"><button>Logout</button></a>
      </nav>
        
  </header>
  <main>
    <h1>Reviews List</h1>
    {%for book in books%}
      <div class = "book-card">
        <p>
        <a href={% url 'showbook' book.pk %}>{{book.title}}</a>
        </p>
        <p>{{book.author}}</p>
        <p> Number of page:{{book.pages}}</p>
        <p>Book ISBN: {{book.ISBN}}</p>
        <p>Dscription of Book: {{book.description}}</p>
        <img src = {{book.book_cover_URL}} width="150" height="200"></img>
      </div>
    {% endfor %}
  </main>
</body>
{% endblock %}
</html>